<h2 class="sr-only">Actions</h2>
<div class="btn-group col-action">
  <button type="button" class="btn btn-primary dropdown-toggle col-action-btn"
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Actions <span class="caret"></span>
  </button>

  <ul class="dropdown-menu">
    <li>
      <%= link_to "Browse", collections.collection_path %>
    </li>
    <li>
      <%= link_to "Add files",  sufia.dashboard_files_path %>
    </li>
  </ul>
</div>
