---
http_interactions:
- request:
    method: get
    uri: http://fast.oclc.org/searchfast/fastsuggest?fl=suggest51&query=ethiopia&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n \"responseHeader\":{\n  \"status\":0,\n  \"QTime\":5,\n  \"params\":{\n\t\"fl\":\"suggest51\",\n\t\"q\":\"suggest51:ethiopia\",\n\t\"wt\":\"json\"}},\n
        \"response\":{\"numFound\":746,\"start\":0,\"docs\":[\n\t{\n\t \"suggest51\":\"Ethiopia\"},\n\t{\n\t
        \"suggest51\":\"Empire of Ethiopia\"},\n\t{\n\t \"suggest51\":\"Federal Democratic
        Republic of Ethiopia\"},\n\t{\n\t \"suggest51\":\"Imperial Ethiopian Government\"},\n\t{\n\t
        \"suggest51\":\"People's Democratic Republic of Ethiopia\"},\n\t{\n\t \"suggest51\":\"Provisional
        Military Government of Ethiopia\"},\n\t{\n\t \"suggest51\":\"Provisional Military
        Government of Socialist Ethiopia\"},\n\t{\n\t \"suggest51\":\"Transitional
        Government of Ethiopia\"},\n\t{\n\t \"suggest51\":\"Ethiopia--Eritrea\"},\n\t{\n\t
        \"suggest51\":\"Ethiopia--Addis Ababa\"}]\n }}"
  recorded_at: Thu, 17 May 2018 22:26:59 GMT
recorded_with: VCR 4.0.0
