<% Array(record[key]).reject(&:blank?).each do |v| %>
  <span itemprop="<%= key %>" itemscope itemtype="http://schema.org/Thing">
    <%= link_to v, "http://n2t.net/#{v}" %>
  </span>
  <br />
<% end %>
