---
http_interactions:
- request:
    method: get
    uri: https://id.nlm.nih.gov/mesh/sparql?format=JSON&inference=true&limit=10&query=PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0D%0APREFIX%20meshv:%20%3Chttp://id.nlm.nih.gov/mesh/vocab%23%3E%0D%0APREFIX%20mesh2018:%20%3Chttp://id.nlm.nih.gov/mesh%3E%0D%0A%0D%0ASELECT%20?d%20?dName%0D%0AFROM%20%3Chttp://id.nlm.nih.gov/mesh%3E%0D%0AWHERE%20%7B%0D%0A%20%20?d%20a%20meshv:Descriptor%20.%0D%0A%20%20?d%20rdfs:label%20?dName%0D%0A%20%20FILTER(REGEX(?dName,%27nothing%27,%20%27i%27))%20%0D%0A%7D%20%0D%0AORDER%20BY%20?d%20%0D%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-Count:
      - '1'
      X-Vip-Info:
      - 130.14.16.63:443
      X-Pool-Info:
      - "/Common/id_pool 10.1.5.125 80"
    body:
      encoding: UTF-8
      string: "{\n  \"head\": {\n    \"vars\": [ \"d\" , \"dName\" ]\n  } ,\n  \"results\":
        {\n    \"bindings\": [\n      \n    ]\n  }\n}\n"
  recorded_at: Thu, 17 May 2018 23:21:26 GMT
recorded_with: VCR 4.0.0
