---
http_interactions:
- request:
    method: get
    uri: http://api.geonames.org/searchJSON?maxRows=10&q=ethiopian%20plateau&username=galterlibrary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"totalResultsCount":1,"geonames":[{"adminCode1":"00","lng":"38.16667","geonameId":337995,"toponymName":"Ethiopian
        Plateau","countryId":"337996","fcl":"T","population":0,"countryCode":"ET","name":"Ethiopian
        Plateau","fclName":"mountain,hill,rock,... ","countryName":"Ethiopia","fcodeName":"plateau","adminName1":"","lat":"10","fcode":"PLAT"}]}'
  recorded_at: Fri, 18 May 2018 14:34:47 GMT
recorded_with: VCR 4.0.0
