---
http_interactions:
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=urn%3Aietf%3Aparams%3Aoauth%3Agrant-type%3Ajwt-bearer&assertion=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJkZXZlbG9wbWVudC1kaWdpdGFsaHViQGF1dG9ub21vdXMtdGltZS0yNTgwMTQuaWFtLmdzZXJ2aWNlYWNjb3VudC5jb20iLCJhdWQiOiJodHRwczovL2FjY291bnRzLmdvb2dsZS5jb20vby9vYXV0aDIvdG9rZW4iLCJleHAiOjE1NzMyMzkwNzEsImlhdCI6MTU3MzIzODk1MSwic2NvcGUiOiJodHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9hdXRoL2FuYWx5dGljcy5yZWFkb25seSJ9.Pjz2H0J6FQPHzgE6wgLFO6YukNe7cXrNOvnWFljZcxyEPG8WJkSbefxofeZM7txlStTT-h-2JBBxnsEYlg9jQc6N2ACOhC4ZBDomswb5V34GwYlPsUsi0xVbQYYC7VwNNPLgPZdnZg6GMyYYZGwr_Arxo58b6F_bVIuUq9HuNC0HXj6Gu9fbttMZ7qP0ovX1_ULLmmyXa5CQ3jpDygmJagZ4tvbAPYAyutfWaEDmqU0rs7bFpeTTOyELoYoAtsFo73oa_gBZVw65JJuAdQNtNzzf9txgSamy-dtB49084XM1iVeY5viLJeGxmkCmhO2FCWSg_g9-N0JteL7tqOVANw
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.c.Kl2wByXSWr1DPeXTTLZjhev_IcBoYOgFXNqir9fPaygGlo0qXH7nVn4lkJ1OfM_tilTQ3mPlNiHR58TMwzEu60aINRD6Fqrms6JrMkbaFz-fQWuye4t3v9Nxf5NrVPg",
          "expires_in": 3600,
          "token_type": "Bearer"
        }
  recorded_at: Fri, 08 Nov 2019 18:50:11 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/management/accounts/~all/webproperties/~all/profiles
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl2wByXSWr1DPeXTTLZjhev_IcBoYOgFXNqir9fPaygGlo0qXH7nVn4lkJ1OfM_tilTQ3mPlNiHR58TMwzEu60aINRD6Fqrms6JrMkbaFz-fQWuye4t3v9Nxf5NrVPg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b1gm6ke8-tjIkX__6AMWPZx_gaQ/wSRWqYPAwQb2r0Y7S4B9_8C8FLQ"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"kind":"analytics#profiles","username":"EMAIL@BOGUS.COM","totalResults":1,"startIndex":1,"itemsPerPage":1000,"items":[{"id":"205120964","kind":"analytics#profile","selfLink":"https://www.googleapis.com/analytics/v3/management/accounts/151450089/webproperties/UA-BOGUS/profiles/205120964","accountId":"151450089","webPropertyId":"UA-BOGUS","internalWebPropertyId":"214350695","name":"All
        Web Site Data","currency":"USD","timezone":"America/Chicago","websiteUrl":"http://dev.digitalhub.northwestern.edu","type":"WEB","permissions":{"effective":["READ_AND_ANALYZE"]},"created":"2019-11-04T19:27:08.687Z","updated":"2019-11-04T19:27:08.687Z","eCommerceTracking":false,"botFilteringEnabled":true,"parentLink":{"type":"analytics#webproperty","href":"https://www.googleapis.com/analytics/v3/management/accounts/151450089/webproperties/UA-BOGUS"},"childLink":{"type":"analytics#goals","href":"https://www.googleapis.com/analytics/v3/management/accounts/151450089/webproperties/UA-BOGUS/profiles/205120964/goals"}}]}'
  recorded_at: Fri, 08 Nov 2019 18:50:12 GMT
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/data/ga?dimensions=ga:eventCategory,ga:eventAction,ga:eventLabel,ga:date&end-date=2019-11-07&fields=columnHeaders/name,rows,totalResults,totalsForAllResults&filters=ga:eventLabel==bogus-file-id&ids=ga:205120964&metrics=ga:totalEvents&sort=ga:date&start-date=2019-10-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl2wByXSWr1DPeXTTLZjhev_IcBoYOgFXNqir9fPaygGlo0qXH7nVn4lkJ1OfM_tilTQ3mPlNiHR58TMwzEu60aINRD6Fqrms6JrMkbaFz-fQWuye4t3v9Nxf5NrVPg
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b1gm6ke8-tjIkX__6AMWPZx_gaQ/KrRanqlShqOypsKk32FrXxwnBuo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalResults":0,"columnHeaders":[{"name":"ga:eventCategory"},{"name":"ga:eventAction"},{"name":"ga:eventLabel"},{"name":"ga:date"},{"name":"ga:totalEvents"}],"totalsForAllResults":{"ga:totalEvents":"0"}}'
  recorded_at: Fri, 08 Nov 2019 18:50:12 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/data/ga?dimensions=ga:date&end-date=2019-11-08&fields=columnHeaders/name,rows,totalResults,totalsForAllResults&filters=ga:pagePath=~/files/bogus-file-id&ids=ga:205120964&metrics=ga:pageviews&sort=ga:date&start-date=2019-10-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl2wByEB5D76-SRaHV9a9VAJrmO2lvD5rgTt7qfLq0nEbkD6V8LR0adNfYAztzEMz32BT_2SxsSji_ZeEtfdFRlV9PdQNAXZQe5uSxYqRVhORbooKobUgRKSHTT_1nE
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b1gm6ke8-tjIkX__6AMWPZx_gaQ/I4epwbiOWU1mP6Vb9pAx3SK0A3M"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalResults":33,"columnHeaders":[{"name":"ga:date"},{"name":"ga:pageviews"}],"totalsForAllResults":{"ga:pageviews":"0"},"rows":[["20191007","0"],["20191008","0"],["20191009","0"],["20191010","0"],["20191011","0"],["20191012","0"],["20191013","0"],["20191014","0"],["20191015","0"],["20191016","0"],["20191017","0"],["20191018","0"],["20191019","0"],["20191020","0"],["20191021","0"],["20191022","0"],["20191023","0"],["20191024","0"],["20191025","0"],["20191026","0"],["20191027","0"],["20191028","0"],["20191029","0"],["20191030","0"],["20191031","0"],["20191101","0"],["20191102","0"],["20191103","0"],["20191104","0"],["20191105","0"],["20191106","0"],["20191107","0"],["20191108","0"]]}'
  recorded_at: Fri, 08 Nov 2019 18:50:13 GMT
[...]
- request:
    method: get
    uri: https://www.googleapis.com/analytics/v3/data/ga?dimensions=ga:eventCategory,ga:eventAction,ga:eventLabel,ga:date&end-date=2019-11-07&fields=columnHeaders/name,rows,totalResults,totalsForAllResults&filters=ga:eventLabel==bogus-file-id&ids=ga:205120964&metrics=ga:totalEvents&sort=ga:date&start-date=2019-10-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer ya29.c.Kl2wBxepE1Jk4AOrFQN0pG86BfBg3wvKdXvUDnRzHcZ4_vSo39G4TlfYWpNS-9VXzDZRWpjBxZv_iM2oJ3KWVaEox30Z4spah7W-Nryk2Jk2JYc01KcznOTk-7eazLk
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b1gm6ke8-tjIkX__6AMWPZx_gaQ/KrRanqlShqOypsKk32FrXxwnBuo"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalResults":0,"columnHeaders":[{"name":"ga:eventCategory"},{"name":"ga:eventAction"},{"name":"ga:eventLabel"},{"name":"ga:date"},{"name":"ga:totalEvents"}],"totalsForAllResults":{"ga:totalEvents":"0"}}'
  recorded_at: Fri, 08 Nov 2019 18:50:13 GMT
recorded_with: VCR 4.0.0
