// Remove this file after upgrade past Sufia 6.3
.table-responsive {
  overflow-x: auto;
}

.sort-toggle {
  overflow: auto;
  padding-bottom: 0;
}

#documents {
  overflow: visible;
}

#documents .table-responsive {
  overflow: visible;
}
