<%= javascript_tag do %>
<% end %>

<span class="col-md-3">
  <%= render 'left_sidebar' %>
</span>

<span class="col-md-9">
  <div class="pull-right">
    <%= render 'profile_actions' %>
  </div>
  <%= render 'profile_tabs' %>
</span>

<script>
	$(document).ready(function() {
		if(window.location.href.indexOf('#following') != -1) {
			$('#following').modal('show');
    } else if (window.location.href.indexOf('#followers') != -1) {
			$('#followers').modal('show');
		}
	});
</script>
