---
http_interactions:
- request:
    method: get
    uri: https://id.nlm.nih.gov/mesh/sparql?format=JSON&inference=true&limit=10&query=PREFIX%20rdfs:%20%3Chttp://www.w3.org/2000/01/rdf-schema%23%3E%0D%0APREFIX%20meshv:%20%3Chttp://id.nlm.nih.gov/mesh/vocab%23%3E%0D%0APREFIX%20mesh2018:%20%3Chttp://id.nlm.nih.gov/mesh%3E%0D%0A%0D%0ASELECT%20?d%20?dName%0D%0AFROM%20%3Chttp://id.nlm.nih.gov/mesh%3E%0D%0AWHERE%20%7B%0D%0A%20%20?d%20a%20meshv:Descriptor%20.%0D%0A%20%20?d%20rdfs:label%20?dName%0D%0A%20%20FILTER(REGEX(?dName,%27books%27,%20%27i%27))%20%0D%0A%7D%20%0D%0AORDER%20BY%20?d%20%0D%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/sparql-results+json;charset=utf-8
      X-Vip-Info:
      - 165.112.140.63:443
      X-Pool-Info:
      - "/Common/id_pool 10.1.5.125 80"
      X-Count:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "head": {
            "vars": [ "d" , "dName" ]
          } ,
          "results": {
            "bindings": [
              {
                "d": { "type": "uri" , "value": "http://id.nlm.nih.gov/mesh/D001877" } ,
                "dName": { "type": "literal" , "xml:lang": "en" , "value": "Books" }
              } ,
              {
                "d": { "type": "uri" , "value": "http://id.nlm.nih.gov/mesh/D001878" } ,
                "dName": { "type": "literal" , "xml:lang": "en" , "value": "Books, Illustrated" }
              } ,
              {
                "d": { "type": "uri" , "value": "http://id.nlm.nih.gov/mesh/D001879" } ,
                "dName": { "type": "literal" , "xml:lang": "en" , "value": "Bookselling" }
    [...]
