---
http_interactions:
- request:
    method: get
    uri: http://fast.oclc.org/searchfast/fastsuggest?fl=suggest51&query=javatown&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n \"responseHeader\":{\n  \"status\":0,\n  \"QTime\":0,\n  \"params\":{\n\t\"fl\":\"suggest51\",\n\t\"q\":\"suggest51:javatown\",\n\t\"wt\":\"json\"}},\n
        \"response\":{\"numFound\":0,\"start\":0,\"docs\":[]\n }}"
  recorded_at: Thu, 17 May 2018 22:26:59 GMT
recorded_with: VCR 4.0.0
