<div class="alert">
  <div>
    <strong>Note:</strong>
  </div>
  <div>
    You must agree to <a href='/agreement/' target="_blank"><%= t('sufia.deposit_agreement') %></a> before starting your upload.<br />You must have the rights to let Galter Library distribute it.
  </div>
</div>


