/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sufia
 *= require_tree .
 *= require_self
 */

.single_value_with_help {
  margin-left: 0;
  max-width: 40em;
  padding-left: 0;
}

.single_text_with_help {
  max-width: 500px;
}

.collection_multi_page label:not(.boolean_with_help) {
  height: 20px;
  width: 16px;
  margin-left: 15px;
}

body {
  word-wrap: break-word;
}

/* Catalog */
ol.catalog table.table tbody tr:first-child td {
  word-break: break-all;
}

/* Notifications Page */
div[id="Data"] tbody tr td:nth-child(3) {
  word-break: break-all;
}

/* My Files/Collections */
tr[id^="document"] div[class="media"] div[class="media-body"] div[class="media-heading"] {
  word-break: break-all;
}

/* Dashboard */
table[id="activity"] tbody tr td:first-child {
  word-break: break-all;
}

div[id="notifications"] tbody tr td:nth-child(3) {
  word-break: break-all;
}

table[id="outgoing-transfers"] tbody tr td:first-child {
  word-break: break-all;
}

table[id="incoming-transfers"] tbody tr td:first-child {
  word-break: break-all;
}

/* Porfile */
tr[id^="trophyrow_"] td:nth-child(2) {
  word-break: break-all;
}

/* File upload */
table#file-table td.name {
  word-break: break-all;
}

table h4.media-heading {
  word-break: break-all;
}

#content-header > div h1 {
  font-weight: 700;
  color: #54585A;
}

p#main_gf_actions > a {
  background-color: #777;
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #FFF;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}
