<div id="footer" class="container-fluid">
  <div class="row">

    <div class="col-sm-3">
      <dl>
        <dt>Galter Health Sciences Library</dt>
        <dd>Feinberg School of Medicine</dd>
        <dd>Northwestern University</dd>
        <dd>303 E. Chicago Avenue, Chicago, IL 60611</dd>
        <dd>Phone 312-503-8126</dd>
        <dd><a href="http://www.galter.northwestern.edu/contact/Galter/Reference">Contact Us</a></dd>
      </dl>
    </div>

    <div class="col-sm-6">
    </div>

    <div class="col-sm-3">
        <%= link_to image_tag("Feinberg-Logo_White.png", height: '80',
                              alt: 'Northwestern University Feinberg School of Medicine'),
        "http://www.feinberg.northwestern.edu/?utm_source=website&amp;utm_medium=footer-link&amp;utm_campaign=GalterLibrary",
        class: 'pull-right', id: 'bottomLogo' %>
        </a>
    </div>
  
  </div><!-- /.row -->
</div><!-- /footer -->

