<div id='feinbergTop'>
  <a id='feinbergTopLink' href='http://www.feinberg.northwestern.edu/index.html'>
    Northwestern University Feinberg School of Medicine
  </a>
</div>

<div id='topTitle'>
  <a id='digitalHubTopLink' href='/'>DigitalHub</a>
  <sup id='betaLabel' class="label label-default">BETA</sup>
</div>
