<a href='http://www.nm.org' class='pull-left' id='NMLogo'></a>
<h1 id='topTitle' class='pull-left'>
  <a id='digitalHubTopLink' href='/'>DigitalHub</a>
  <span id='betaLabel' class="label label-default">BETA</span>
</h1>
