<%= link_to image_tag("Feinberg-Logo_White.png", height: '80'),
  "http://www.feinberg.northwestern.edu/?utm_source=website&amp;utm_medium=footer-link&amp;utm_campaign=GalterLibrary",
  class: 'pull-left', id: 'topLogo' %>
<h2 id='topTitle' class='pull-left'>Galter Digital Repository</h2>
