<%= link_to image_tag("Feinberg-logo-small-web.png", height: '80'),
  "http://www.feinberg.northwestern.edu/?utm_source=website&amp;utm_medium=footer-link&amp;utm_campaign=GalterLibrary",
  class: 'pull-left', id: 'topLogo' %>
<h1 id='topTitle' class='pull-left'>Galter Digital Repository</h1>
