<div class="fsmAlert yellowFsmAlert">
  <div class="contain-1440">
    <div class="alertMsg">
      <p>
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Coronavirus information for 
        <a href="https://www.nm.org/conditions-and-care-areas/infectious-disease/novel-coronavirus">
        Northwestern Memorial Hospital</a>, 
        <a href="https://www.luriechildrens.org/en/news-stories/novel-coronavirus-covid-19-resources/">
        Lurie Children’s Hospital</a>, 
        <a href="https://www.northwestern.edu/coronavirus-covid-19-updates/">
        Northwestern University</a>, and 
        <a href="https://www.cdc.gov/coronavirus/2019-nCoV/index.html">
        CDC</a>.
      </p>
    </div>
  </div>  
</div>
<div id='masthead'>
  <div id='nmTop' class='row'>
    <div class='col-sm-12'>
      <div id="brandTopLogo" class='pull-left'>
        <a class='institutionLogo' href='https://www.feinberg.northwestern.edu/' target="_blank">
          <span class='alt'>Northwestern Medicine</span>
        </a>
      </div>
      <div class='pull-right text-right' id='nmRightLinks'>
        <a href='http://www.northwestern.edu' target='_blank'>
          Northwestern University
        </a>
        |
        <a href='http://www.feinberg.northwestern.edu/faculty-profiles/index.html' target='_blank'>
          Faculty Profiles
        </a>
      </div>
    </div>
  </div>

  <div id='nmBottom' class='row'>
    <div class='col-xs-12 col-sm-7'>
      <div id='topTitle'>
        <a id='digitalHubTopLink' href='/'>DigitalHub</a>
      </div>
    </div><!-- /.col-xs-5 -->
    <div class='col-xs-12 visible-xs-block' id='user_utility_xs'>
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
    <div class='col-sm-5 hidden-xs text-right' id='user_utility_lg'>
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
  </div><!-- /.row -->
</div> <!-- /masthead -->
