<div id="masthead" class="container-fluid">

  <div class="row" id='nmTop'>
    <div class="col-md-12">
      <%= link_to image_tag('NM_logo.png', height: '25'),
        'http://www.nm.org', id: 'NMLogo' %>
    </div>
  </div>

  <div class="row" id='nmBottom'>
    <div class="col-xs-12 col-sm-8">
      <%= render partial: '/logo' %>
    </div><!-- /.col-xs-5 -->
    <div class="col-xs-12 col-sm-4 text-right">
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
  </div><!-- /.row -->
</div> <!-- /masthead -->
