<div id='masthead'>
  <div id='nmTop' class='row'>
    <div class='col-sm-12'>
      <div class='pull-left'>
        <%= link_to image_tag('NM_logo.png', height: '50'),
          'http://www.nm.org', id: 'NMLogo', target: '_blank' %>
      </div>
      <div class='pull-right text-right' id='nmRightLinks'>
        <a href='http://www.northwestern.edu' target='_blank'>
          Northwestern University
        </a>
        |
        <a href='http://www.feinberg.northwestern.edu/faculty-profiles/index.html' target='_blank'>
          Faculty Profiles
        </a>
      </div>
    </div>
  </div>

  <div id='nmBottom' class='row'>
    <div class='col-xs-12 col-sm-7'>
      <%= render partial: '/logo' %>
    </div><!-- /.col-xs-5 -->
    <div class='col-xs-12 visible-xs-block' id='user_utility_xs'>
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
    <div class='col-sm-5 hidden-xs text-right' id='user_utility_lg'>
        <%= render partial: '/user_util_links' %>
    </div><!-- /.col-xs-7 -->
  </div><!-- /.row -->
</div> <!-- /masthead -->
